<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} | Ziggly</title>
    {% else %}
    <title>Ziggly</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/select2-bootstrap-5-theme.min.css') }}">
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/petite-vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/moment.min.js') }}"></script>
    {% block required_js %}{% endblock %}
    {% block page_css %}{% endblock %}
</head>
<body>
    {% block page_templates %}
    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Ziggly</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    {% if g.user %}
                    <li class="nav-item">
                        <a href="{{ url_for('main.cashier') }}" class="nav-link">Cashier</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.items_all') }}" class="nav-link">Items</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.inventory') }}" class="nav-link">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.purchases') }}" class="nav-link">Purchases</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.logout') }}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('main.login') }}" class="nav-link">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script>
        const page_session = PetiteVue.reactive({
            csrf_token: '{{ csrf_token() }}',
        });
    </script>
    {% block page_js %}{% endblock %}
</body>
</html>