{% extends 'main/base.html' %}

{% block page_templates %}
{% include 'main/partials/cart-component.html' %}
{% endblock %}

{% block content %}
<main id="main" role="main">
    <div class="container mt-3">
        <div class="row mb-3 border-bottom border-3">
            <h1>Cashier</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6" v-scope="addItemComponent({currentEdit: page_session.editor.item})"
                @mounted="initSelectItem">
                <div class="border rounded p-3">
                    <div class="form-group mb-3">
                        <label for="item" class="form-label">Item</label>
                        <select name="item" class="item-select form-control" style="width: 100%;"></select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" name="stock" class="form-control" :value="currentItem.stock" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" name="quantity" class="form-control" :max="currentItem.stock"
                            v-model="currentItem.quantity">
                    </div>
                    <div class="form-group mb-3">
                        <label for="price" class="form-label">Price (₱)</label>
                        <input type="number" name="price" class="form-control" :value="currentItem.price" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="total" class="form-label">Total (₱)</label>
                        <input type="number" name="total" class="form-control"
                            :value="currentItem.price*currentItem.quantity" disabled>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" @click="addItem">Add</button>
                        <button class="btn btn-danger" @click="discard">Discard</button>
                    </div>
                </div>
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="liveToast" class="toast align-items-center text-white bg-danger border-0" role="alert"
                        aria-live="assertive" aria-atomic="true" @mounted="initErrorToast($el)">
                        <div class="d-flex">
                            <div class="toast-body">
                                Max quantity has been reached!
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" v-scope="listCartComponent({ cart: page_session.cart })">
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block page_js %}
<script>
    page_session.cart = {
        items: [],
        getItem(item_id) {
            return this.items.find(({ id }) => id === item_id);
        },
    };
    page_session.editor = {
        item: {
            id: null,
            name: '',
            quantity: 0,
            price: 0,
            stock: 0,
        },
    };

    function addItemComponent(props) {
        console.log(props);
        const component = {
            element: {
                errorToast: null,
                itemSelect: null,
            },
            currentItem: props.currentEdit,
            initErrorToast(elem) {
                this.element.errorToast = elem;
            },
            showErrorToast() {
                if (this.element.errorToast) {
                    const toast = new bootstrap.Toast(this.element.errorToast);
                    toast.show();
                }
            },
            addItem() {
                const item = this.currentItem;
                const oldItem = page_session.cart.getItem(item.id);
                const total_quantity = item.quantity + (oldItem ? oldItem.quantity : 0);
                if (!(item.quantity && item.id)) return;
                console.log(item.stock - total_quantity);
                if (item.stock - total_quantity < 0) {
                    this.showErrorToast();
                    return;
                }
                const items = page_session.cart.items;
                if (oldItem) {
                    oldItem.quantity += item.quantity;
                } else {
                    page_session.cart.items.push({
                        id: item.id,
                        name: item.name,
                        quantity: item.quantity,
                        price: item.price,
                    });
                }
                this.discard();
            },
            discard() {
                this.currentItem.quantity = 0;
            }
        };

        component.initSelectItem = function () {
            this.element.itemSelect = $('.item-select').select2({
                placeholder: 'Select Item',
                theme: 'bootstrap-5',
                ajax: {
                    url: '{{ url_for("api.search_item") }}',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                        }
                        return query
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        results = data.result.map(item => {
                            return {
                                id: JSON.stringify(item),
                                text: item.name
                            }
                        });
                        return {
                            results: results,
                            pagination: {
                                more: data.has_next
                            }
                        }
                    },
                }
            });
            this.element.itemSelect.on('change', () => {
                const data = JSON.parse(this.element.itemSelect.val());
                console.log(data);
                if (data) {
                    component.currentItem.id = data.id;
                    const oldItem = page_session.cart.getItem(data.id);
                    component.currentItem.stock = data.stock - (oldItem ? oldItem.quantity : 0);
                    component.currentItem.name = data.name;
                    component.currentItem.price = data.price;
                }
            });
        };

        return component;
    }

    PetiteVue.createApp({
        page_session,
        addItemComponent,
        listCartComponent,
    }).mount();
</script>
{% endblock %}