{% extends 'main/base.html' %}
{% from 'main/macros/item_add.html' import addItemComponent %}

{% block page_templates %}
{% include 'main/partials/item-add.html' %}
{% include 'main/partials/item-edit.html' %}
{% endblock %}

{% block content %}
<main role="main" id="main">
    <div class="container mt-3">
        <div class="row align-items-center border-bottom border-3 mb-3">
            <div class="col">
                <h1>{{ item.name }}</h1>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <div v-scope="addItemComponent({ item: page_session.item })"></div>
                <div v-scope="editItemComponent({})"></div>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="row border-bottom border-2 mb-3">
            <h3>Item Stats</h3>
        </div>
        <div class="row mb-3">
            <div class="col-12 overflow-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Price</th>
                            <th scope="col">In Stock</th>
                            <th scope="col">Total Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <th>₱{{ format_currency(item.price) }}</th>
                            <th>{{ item.in_stock }}</th>
                            <th>₱{{ format_currency(item.total_sold) }}</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row border-bottom border-2 mb-3">
            <div class="d-flex align-items-center">
                <h3>Inventory History</h3>
                <a href="{{ url_for('main.item_stock', id=item.id) }}" class="btn btn-transparent border rounded mx-3">See all</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 overflow-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Total Costs</th>
                            <th scope="col">Time Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                        <tr>
                            <th scope="row">{{ stock.id }}</th>
                            <th>{{ stock.quantity }}</th>
                            <th>₱{{ format_currency(stock.per_item_cost) }}</th>
                            <th>₱{{ format_currency(stock.cost) }}</th>
                            <th>{{ momentjs(stock.added_on).format('MMMM DD, YYYY') }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3 border-bottom border-border-2">
            <h3>Purchase History</h3>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in purchases %}
                    <tr>
                        <th scope="row">{{ purchase.id }}</th>
                        <th>{{ purchase.quantity }}</th>
                        <th>₱{{ format_currency(purchase.total) }}</th>
                        <th>{{ momentjs(purchase.added_on).format('MMMM DD, YYYY') }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block page_js %}
<script>
    page_session.item = {
        id: {{ item.id }},
        name: '{{ item.name }}',
    };

    PetiteVue.createApp({
        page_session,
        addItemComponent,
        editItemComponent,
    }).mount('#main');
</script>
{% endblock %}